@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@100;200;300;400;500;600;700&display=swap");

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px dashed #8cb2f7;
  height: 20vh;
  width: 35vw;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px;
}

.uploaded-row {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #e9f0ff;
}

.upload-content {
  display: flex;
  align-items: center;
}

.processed-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.main-component {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

h4 {
  text-align: center;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  font-family: "Mulish", sans-serif;
}

.subhead1 {
  font-size: 22px;
}

.subhead2 {
  font-size: 15px;
}

.image-gallery {
  width: 60vw;
  display: flex;
  gap: 20px;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 10px;
  scrollbar-width: thin;
  scrollbar-color: #8cb2f7 transparent;
}

.sample-image {
  height: 20vh;
  width: 10vw;
}

@media (min-width: 320px) and (max-width: 450px) {
  .processed-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  form {
    height: 300px;
    width: 300px;
  }

  .subhead1 {
    font-size: 20px;
  }

  .subhead2 {
    font-size: 13px;
  }

  .sample-image {
    width: 40vw;
    height: 20vh;
  }
}
